# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# sublime text project / workspace files
*.sublime-project
*.sublime-workspace

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor
composer.phar

# For your library you may commit the composer.lock file if you want to.
# This can help your team to always test against the same dependency versions.
# However, this lock file will not have any effect on other projects that depend on it.
# It only has an effect on the main project.
composer.lock

build

.phpunit.result.cache